@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключение на <strong>Режим разработки</strong> отображает подробную информацию об ошибке, которая произошла.
</p>
<p>
    <strong>Режим разработки не следует включать для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации об исключениях конечным пользователям.
    Для локальной отладки включите <strong>Режим разработки</strong>, установив переменную окружения <strong>ASPNETCORE_ENVIRONMENT</strong> в значение <strong>Development</strong>
    и перезапустив приложение.
</p>
